body{
  margin: 0;
  padding: 0;
  background: #ccc;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map{
  border-radius: 15px;
  width: 90%;
  height: 90vh;
  margin: 0 auto;
}
